<!DOCTYPE html>
<html>
  <head>
    <title>Valum</title>
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 40px;">
          <header class="row">
            <div class="media"
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="/"><img class="media-object" src="/static/img/valum.png"></a>
                </div>
                <div class="media-body media-middle">
                  <h1 class="media-heading">Valum <small>web micro-framework written in Vala</small></h1>
                </div>
              </div>
            </div>
          </header>
          <div class="row">
            <div class="col-md-12">
              <h2>404 <small>not found</small></h2>
              <p>The requested URL {path} was not found.</p>
            </div>
          </div>
          <footer>
            <p class="text-center">
            <small>
              Built by <a href="https://github.com/antono">@antono</a>,
              <a href="https://github.com/arteymix">@arteymix</a> and the community!
            </small>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
