<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Valum</title>
    <meta charset="UTF-8">
    <meta name="description" content="web micro-framework written in Vala">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <a href="https://github.com/antono/valum">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
           src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
           alt="Fork Valum on GitHub"
           data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
    </a>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 40px;">
          <div class="row">
            <div class="col-md-12">
              <h1>Valum <small>web micro-framework written in Vala</small></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>Documentation</h3>
              <p class="text-justify">
                Valum provides <a href="http://valum.readthedocs.org/en/latest/">user documentation</a> to get you
                started with the framework.
              </p>
              <p class="text-justify">
                The framework is built upon <a href="https://developer.gnome.org/libsoup/stable/">libsoup</a> and
                <a href="https://wiki.gnome.org/action/show/Projects/Libgee">Libgee</a> and automated with the
                <a href="https://code.google.com/p/waf/">waf build system</a>, so reading about all these is a good
                start.
              </p>
              <p class="text-justify">
                The <a href="http://valadoc.org">valadoc.org</a> website provides api specification of most libraries
                available in Vala.
              </p>
            </div>
            <div class="col-md-8">
              <h3>Examples</h3>
              <p>This is a real Vala web application and we got real examples!</p>
              <ul class="list-inline">
                <li><a href="/hello">Hello world!</a></li>
                <li><a href="/hello/">Hello world! (with a trailing slash)</a></li>
                <li><a href="/query?foo=bar">HTTP query</a></li>
                <li><a href="/headers">HTTP headers</a></li>
                <li><a href="/hello/world">route parameter</a></li>
                <li><a href="/users/4/edit">typed route parameter</a></li>
                <li><a href="/custom-route-type/abc">custom typed route parameter (permutations of abc)</a></li>
                <li><a href="/custom-regular-expression">route using a custom regular expression</a></li>
                <li><a href="/custom-matcher">custom matcher</a></li>
                <li><a href="/custom-method">route using a custom HTTP method</a></li>
                <li><a href="/admin/fun/hack">scoped routing</a></li>
                <li><a href="/cookies">cookies</a></li>
                <li><a href="/urlencoded-data/">parse url-encoded data</a></li>
                <li><a href="/lua">lua scripting</a></li>
                <li><a href="/ctpl/foo/bar">Ctpl templating</a></li>
                <li><a href="/memcached/get/bar">memcached (get value)</a></li>
                <li><a href="/memcached/set/bar">memcached (set value)</a></li>
              </ul>
              <h3>Contributing</h3>
              <p>
                Valum is <a href="https://github.com/antono/valum">hosted on GitHub</a> and developed under the LGPL
                license.
              </p>
              <p>
                Use tabs for indenting and spaces for alignment! For more information, we provide an
                <a href="http://editorconfig.org">EditorConfig file</a>.
              </p>
              <p class="text-center">
                <small>
                  Built by <a href="https://github.com/antono">@antono</a>,
                  <a href="https://github.com/arteymix">@arteymix</a> and the community!
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
