<!DOCTYPE html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="margin-top: 60px;">
        <h1>Valum <small>Web micro-framework written in Vala</small></h1>
        <p>
          Valum is a web micro-framework written in Vala that provides routing
          and basic request-response mechanism.
        </p>
      </div>
    </div>
  </div>
</body>
